# Classification and Prediction using SVM model

In [1]:
from sklearn.model_selection import train_test_split as tts

In [1]:
import pickle as pc

In [30]:
pick_in=open('data_train','rb')
data=pc.load(pick_in)
pick_in.close()

In [59]:
import random

In [48]:
random.shuffle(data)

In [51]:
features=[]
labels=[]

In [52]:
for feature,label in data:
    features.append(feature)
    labels.append(label)

# Plitting Train and Test data

In [100]:
xtrain,xtest,ytrain,ytest=tts(features,labels,test_size=0.01)

In [101]:
from sklearn.svm import SVC

In [102]:
model=SVC(C=1,kernel='poly',gamma='auto')

# Training the model

In [103]:
model.fit(xtrain,ytrain)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [104]:
prediction=model.predict(xtest)

In [105]:
accuracy=model.score(xtest,ytest)

In [106]:
prediction

array([5, 2, 0, 2])

In [107]:
accuracy

0.75

In [110]:
pick=open('svm_model.sav','wb')
pc.dump(model,pick)
pick.close()

In [2]:
pick_in=open('svm_model.sav','rb')
model=pc.load(pick_in)
pick_in.close()

# Now after training let's predict on test data

In [3]:
import pandas as pd

In [4]:
df_test=pd.read_csv('test.csv')

In [5]:
df_test.head()

     Image
0  508.jpg
1  246.jpg
2  473.jpg
3  485.jpg
4  128.jpg

In [6]:
pick_in=open('data_test','rb')
data_test=pc.load(pick_in)
pick_in.close()

In [40]:
data_test[0]

[array([2, 2, 2, ..., 0, 0, 0], dtype=uint8)]

In [85]:
features_test=[]

In [86]:
for feature in data_test:
    features_test.append(feature[0])

In [89]:
res=model.predict(features_test)

In [92]:
res=res.tolist()

In [93]:
df_test['res_num']=res

In [94]:
df_test.head()

     Image  res_num
0  508.jpg        4
1  246.jpg        3
2  473.jpg        1
3  485.jpg        2
4  128.jpg        4

In [103]:
def n(c):
    if c==0:
        return 'manipuri'
    elif c==1:
        return 'bharatanatyam'
    elif c==2:
        return 'odissi'
    elif c==3:
        return 'kathakali'
    elif c==4:
        return 'kathak'
    elif c==5:
        return 'sattriya'
    elif c==6:
        return 'kuchipudi'
    elif c==7:
        return 'mohiniyattam'

In [104]:
df_test['Dance style']=df_test['res_num'].apply(n)

In [105]:
df_test.head()

     Image  res_num    Dance style
0  508.jpg        4         kathak
1  246.jpg        3      kathakali
2  473.jpg        1  bharatanatyam
3  485.jpg        2         odissi
4  128.jpg        4         kathak

In [107]:
df_test=df_test.drop(['res_num'],axis=1)

In [108]:
df_test.head()

     Image    Dance style
0  508.jpg         kathak
1  246.jpg      kathakali
2  473.jpg  bharatanatyam
3  485.jpg         odissi
4  128.jpg         kathak

In [109]:
df_test.to_csv(r'test_result.csv', index = False)