# This file is preparing data for classification by first read data from csv file. Determining number of unique classes we need to classify and into and then reading image.Image is converted into 50*50 dimensions and then saved in ist format.After that we export the prepared data which is both data train and data test.

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('train.csv')

In [6]:
df.head()

     Image         target
0   96.jpg       manipuri
1  163.jpg  bharatanatyam
2  450.jpg         odissi
3  219.jpg      kathakali
4  455.jpg         odissi

In [7]:
df['target'].unique()

array(['manipuri', 'bharatanatyam', 'odissi', 'kathakali', 'kathak',
       'sattriya', 'kuchipudi', 'mohiniyattam'], dtype=object)

# Classifying target classes

In [8]:
def n(c):
    if c=='manipuri':
        return 0
    elif c=='bharatanatyam':
        return 1
    elif c=='odissi':
        return 2
    elif c=='kathakali':
        return 3
    elif c=='kathak':
        return 4
    elif c=='sattriya':
        return 5
    elif c=='kuchipudi':
        return 6
    elif c=='mohiniyattam':
        return 7

In [9]:
df['target_num']=df['target'].apply(n)

In [10]:
df.head()

     Image         target  target_num
0   96.jpg       manipuri           0
1  163.jpg  bharatanatyam           1
2  450.jpg         odissi           2
3  219.jpg      kathakali           3
4  455.jpg         odissi           2

In [11]:
df['target_num'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [12]:
import os

In [13]:
import numpy as np
import cv2

In [14]:
category=df['target'].unique()

In [16]:
category=category.tolist()
category

['manipuri',
 'bharatanatyam',
 'odissi',
 'kathakali',
 'kathak',
 'sattriya',
 'kuchipudi',
 'mohiniyattam']

In [19]:
image_names=df['Image'].tolist()

In [20]:
image_names

['96.jpg',
 '163.jpg',
 '450.jpg',
 '219.jpg',
 '455.jpg',
 '46.jpg',
 '326.jpg',
 '408.jpg',
 '365.jpg',
 '422.jpg',
 '397.jpg',
 '400.jpg',
 '32.jpg',
 '350.jpg',
 '234.jpg',
 '492.jpg',
 '333.jpg',
 '376.jpg',
 '103.jpg',
 '39.jpg',
 '87.jpg',
 '155.jpg',
 '388.jpg',
 '384.jpg',
 '248.jpg',
 '494.jpg',
 '47.jpg',
 '488.jpg',
 '462.jpg',
 '347.jpg',
 '242.jpg',
 '16.jpg',
 '178.jpg',
 '348.jpg',
 '164.jpg',
 '2.jpg',
 '141.jpg',
 '187.jpg',
 '464.jpg',
 '472.jpg',
 '489.jpg',
 '387.jpg',
 '109.jpg',
 '255.jpg',
 '274.jpg',
 '509.jpg',
 '19.jpg',
 '102.jpg',
 '24.jpg',
 '294.jpg',
 '501.jpg',
 '335.jpg',
 '321.jpg',
 '480.jpg',
 '393.jpg',
 '344.jpg',
 '259.jpg',
 '76.jpg',
 '343.jpg',
 '4.jpg',
 '486.jpg',
 '361.jpg',
 '90.jpg',
 '231.jpg',
 '331.jpg',
 '243.jpg',
 '104.jpg',
 '113.jpg',
 '21.jpg',
 '15.jpg',
 '370.jpg',
 '124.jpg',
 '241.jpg',
 '56.jpg',
 '296.jpg',
 '81.jpg',
 '29.jpg',
 '423.jpg',
 '445.jpg',
 '406.jpg',
 '116.jpg',
 '407.jpg',
 '118.jpg',
 '367.jpg',
 '30.jpg',
 '395.jpg',
 '265.jpg',
 '73.jpg',
 '277.jpg',
 '122.jpg',
 '516.jpg',
 '377.jpg',
 '513.jpg',
 '405.jpg',
 '172.jpg',
 '299.jpg',
 '149.jpg',
 '165.jpg',
 '371.jpg',
 '18.jpg',
 '213.jpg',
 '303.jpg',
 '353.jpg',
 '135.jpg',
 '481.jpg',
 '3.jpg',
 '329.jpg',
 '345.jpg',
 '443.jpg',
 '504.jpg',
 '12.jpg',
 '74.jpg',
 '185.jpg',
 '161.jpg',
 '309.jpg',
 '205.jpg',
 '379.jpg',
 '82.jpg',
 '276.jpg',
 '154.jpg',
 '254.jpg',
 '26.jpg',
 '181.jpg',
 '425.jpg',
 '131.jpg',
 '272.jpg',
 '117.jpg',
 '252.jpg',
 '180.jpg',
 '142.jpg',
 '261.jpg',
 '136.jpg',
 '85.jpg',
 '88.jpg',
 '372.jpg',
 '279.jpg',
 '313.jpg',
 '159.jpg',
 '483.jpg',
 '262.jpg',
 '519.jpg',
 '308.jpg',
 '211.jpg',
 '497.jpg',
 '325.jpg',
 '169.jpg',
 '244.jpg',
 '474.jpg',
 '322.jpg',
 '94.jpg',
 '314.jpg',
 '356.jpg',
 '22.jpg',
 '512.jpg',
 '182.jpg',
 '156.jpg',
 '289.jpg',
 '25.jpg',
 '436.jpg',
 '93.jpg',
 '336.jpg',
 '225.jpg',
 '298.jpg',
 '214.jpg',
 '27.jpg',
 '342.jpg',
 '273.jpg',
 '133.jpg',
 '168.jpg',
 '409.jpg',
 '459.jpg',
 '31.jpg',
 '468.jpg',
 '434.jpg',
 '312.jpg',
 '383.jpg',
 '476.jpg',
 '334.jpg',
 '151.jpg',
 '166.jpg',
 '227.jpg',
 '471.jpg',
 '267.jpg',
 '100.jpg',
 '446.jpg',
 '208.jpg',
 '293.jpg',
 '297.jpg',
 '412.jpg',
 '58.jpg',
 '288.jpg',
 '105.jpg',
 '477.jpg',
 '502.jpg',
 '418.jpg',
 '233.jpg',
 '134.jpg',
 '197.jpg',
 '245.jpg',
 '176.jpg',
 '203.jpg',
 '247.jpg',
 '493.jpg',
 '68.jpg',
 '442.jpg',
 '115.jpg',
 '357.jpg',
 '389.jpg',
 '218.jpg',
 '263.jpg',
 '184.jpg',
 '315.jpg',
 '295.jpg',
 '42.jpg',
 '427.jpg',
 '287.jpg',
 '430.jpg',
 '359.jpg',
 '249.jpg',
 '54.jpg',
 '305.jpg',
 '319.jpg',
 '496.jpg',
 '60.jpg',
 '37.jpg',
 '192.jpg',
 '304.jpg',
 '258.jpg',
 '364.jpg',
 '49.jpg',
 '144.jpg',
 '7.jpg',
 '98.jpg',
 '223.jpg',
 '320.jpg',
 '70.jpg',
 '426.jpg',
 '84.jpg',
 '44.jpg',
 '177.jpg',
 '50.jpg',
 '417.jpg',
 '191.jpg',
 '221.jpg',
 '500.jpg',
 '428.jpg',
 '137.jpg',
 '195.jpg',
 '413.jpg',
 '228.jpg',
 '478.jpg',
 '123.jpg',
 '369.jpg',
 '328.jpg',
 '1.jpg',
 '126.jpg',
 '503.jpg',
 '352.jpg',
 '120.jpg',
 '452.jpg',
 '339.jpg',
 '266.jpg',
 '201.jpg',
 '229.jpg',
 '402.jpg',
 '381.jpg',
 '449.jpg',
 '107.jpg',
 '444.jpg',
 '327.jpg',
 '8.jpg',
 '451.jpg',
 '77.jpg',
 '148.jpg',
 '399.jpg',
 '130.jpg',
 '362.jpg',
 '310.jpg',
 '79.jpg',
 '127.jpg',
 '237.jpg',
 '257.jpg',
 '160.jpg',
 '52.jpg',
 '190.jpg',
 '382.jpg',
 '143.jpg',
 '199.jpg',
 '282.jpg',
 '207.jpg',
 '403.jpg',
 '337.jpg',
 '355.jpg',
 '251.jpg',
 '188.jpg',
 '338.jpg',
 '341.jpg',
 '433.jpg',
 '69.jpg',
 '236.jpg',
 '106.jpg',
 '99.jpg',
 '179.jpg',
 '204.jpg',
 '300.jpg',
 '432.jpg',
 '490.jpg',
 '368.jpg',
 '153.jpg',
 '174.jpg',
 '51.jpg',
 '62.jpg',
 '420.jpg',
 '75.jpg',
 '230.jpg',
 '307.jpg',
 '212.jpg',
 '209.jpg',
 '415.jpg',
 '491.jpg',
 '453.jpg',
 '351.jpg',
 '111.jpg',
 '391.jpg',
 '515.jpg',
 '65.jpg',
 '240.jpg',
 '91.jpg',
 '222.jpg',
 '53.jpg',
 '158.jpg',
 '475.jpg',
 '121.jpg',
 '396.jpg',
 '63.jpg',
 '268.jpg',
 '78.jpg',
 '167.jpg',
 '250.jpg',
 '454.jpg',
 '186.jpg',
 '499.jpg',
 '101.jpg',
 '435.jpg',
 '469.jpg',
 '139.jpg',
 '83.jpg',
 '43.jpg',
 '281.jpg',
 '36.jpg',
 '419.jpg',
 '66.jpg',
 '260.jpg',
 '466.jpg',
 '140.jpg',
 '5.jpg',
 '10.jpg',
 '235.jpg',
 '511.jpg',
 '72.jpg',
 '253.jpg',
 '404.jpg',
 '89.jpg',
 '311.jpg']

In [22]:
image_tr=df['target_num'].tolist()
image_tr

[0,
 1,
 2,
 3,
 2,
 4,
 5,
 6,
 5,
 6,
 6,
 6,
 4,
 5,
 3,
 2,
 5,
 6,
 0,
 4,
 0,
 1,
 6,
 6,
 7,
 2,
 4,
 2,
 2,
 5,
 3,
 4,
 3,
 5,
 1,
 4,
 1,
 3,
 2,
 2,
 2,
 6,
 0,
 7,
 7,
 2,
 4,
 0,
 4,
 7,
 2,
 5,
 5,
 2,
 6,
 5,
 7,
 0,
 5,
 4,
 2,
 5,
 0,
 3,
 5,
 3,
 0,
 1,
 4,
 4,
 5,
 1,
 3,
 4,
 7,
 0,
 4,
 6,
 2,
 6,
 1,
 6,
 1,
 5,
 4,
 6,
 7,
 0,
 7,
 1,
 2,
 6,
 2,
 6,
 1,
 7,
 1,
 1,
 5,
 4,
 3,
 7,
 5,
 1,
 2,
 4,
 5,
 5,
 6,
 2,
 4,
 0,
 3,
 1,
 7,
 3,
 6,
 0,
 7,
 1,
 7,
 4,
 3,
 6,
 1,
 7,
 1,
 7,
 3,
 1,
 7,
 1,
 0,
 0,
 5,
 7,
 5,
 1,
 2,
 7,
 2,
 7,
 3,
 2,
 5,
 1,
 7,
 2,
 5,
 0,
 5,
 5,
 4,
 2,
 3,
 1,
 7,
 4,
 6,
 0,
 5,
 3,
 7,
 3,
 4,
 5,
 7,
 1,
 1,
 6,
 2,
 4,
 2,
 6,
 7,
 6,
 2,
 5,
 1,
 1,
 3,
 2,
 7,
 0,
 2,
 3,
 7,
 7,
 6,
 4,
 7,
 0,
 2,
 2,
 6,
 3,
 1,
 3,
 7,
 1,
 3,
 7,
 2,
 0,
 6,
 1,
 5,
 6,
 3,
 7,
 3,
 5,
 7,
 4,
 6,
 7,
 6,
 5,
 7,
 4,
 7,
 5,
 2,
 4,
 4,
 3,
 7,
 7,
 5,
 4,
 1,
 4,
 0,
 3,
 5,
 0,
 6,
 0,
 4,
 1,
 4,
 6,
 3,
 3,
 2,
 6,
 1,
 3,
 6,
 3,
 2,
 1,
 5,
 5,
 4,
 1,
 2,
 5,
 1,
 2,
 5,
 7,
 3,
 3,
 6,
 6,
 2,
 0,
 2,
 5,
 4,
 2,
 0,
 1,
 6,
 1,
 5,
 7,
 0,
 1,
 3,
 7,
 1,
 4,
 3,
 6,
 1,
 3,
 7,
 3,
 6,
 5,
 5,
 7,
 3,
 5,
 5,
 6,
 0,
 3,
 0,
 0,
 3,
 3,
 7,
 6,
 2,
 5,
 1,
 1,
 4,
 4,
 6,
 0,
 3,
 7,
 3,
 3,
 6,
 2,
 2,
 5,
 0,
 6,
 2,
 4,
 3,
 0,
 3,
 4,
 1,
 2,
 1,
 6,
 4,
 7,
 0,
 1,
 7,
 2,
 3,
 2,
 0,
 6,
 2,
 1,
 0,
 4,
 7,
 4,
 6,
 4,
 7,
 2,
 1,
 4,
 4,
 3,
 2,
 0,
 7,
 6,
 0,
 7]

In [23]:
image_tr[0]

0

In [21]:
data=[]

In [24]:
ind=0

# Preparing Training data

In [26]:
for img in image_names:
    da_img=cv2.imread('train/'+img,0)
    try:
        da_img=cv2.resize(da_img,(50,50))
        image=np.array(da_img).flatten()
        data.append([image,image_tr[ind]])
        ind=ind+1
    except Exception as e:
        pass

In [27]:
data[0]

[array([ 1,  1,  1, ..., 69, 72, 65], dtype=uint8), 0]

In [30]:
data[3]

[array([19, 20, 19, ..., 22, 29, 31], dtype=uint8), 3]

In [31]:
import pickle

In [32]:
df_test=pd.read_csv('test.csv')

In [34]:
df_test.head()

     Image
0  508.jpg
1  246.jpg
2  473.jpg
3  485.jpg
4  128.jpg

In [35]:
image_names_test=df_test['Image'].tolist()

In [36]:
image_names_test

['508.jpg',
 '246.jpg',
 '473.jpg',
 '485.jpg',
 '128.jpg',
 '410.jpg',
 '465.jpg',
 '196.jpg',
 '340.jpg',
 '467.jpg',
 '306.jpg',
 '171.jpg',
 '323.jpg',
 '332.jpg',
 '330.jpg',
 '170.jpg',
 '479.jpg',
 '9.jpg',
 '283.jpg',
 '114.jpg',
 '507.jpg',
 '183.jpg',
 '200.jpg',
 '457.jpg',
 '264.jpg',
 '194.jpg',
 '518.jpg',
 '175.jpg',
 '64.jpg',
 '152.jpg',
 '270.jpg',
 '125.jpg',
 '38.jpg',
 '440.jpg',
 '302.jpg',
 '394.jpg',
 '448.jpg',
 '463.jpg',
 '20.jpg',
 '301.jpg',
 '28.jpg',
 '61.jpg',
 '398.jpg',
 '349.jpg',
 '271.jpg',
 '286.jpg',
 '431.jpg',
 '316.jpg',
 '224.jpg',
 '411.jpg',
 '278.jpg',
 '456.jpg',
 '45.jpg',
 '324.jpg',
 '6.jpg',
 '59.jpg',
 '86.jpg',
 '470.jpg',
 '374.jpg',
 '132.jpg',
 '216.jpg',
 '95.jpg',
 '17.jpg',
 '162.jpg',
 '346.jpg',
 '439.jpg',
 '232.jpg',
 '150.jpg',
 '401.jpg',
 '145.jpg',
 '23.jpg',
 '514.jpg',
 '193.jpg',
 '416.jpg',
 '447.jpg',
 '220.jpg',
 '505.jpg',
 '147.jpg',
 '210.jpg',
 '40.jpg',
 '284.jpg',
 '55.jpg',
 '378.jpg',
 '520.jpg',
 '484.jpg',
 '112.jpg',
 '360.jpg',
 '317.jpg',
 '71.jpg',
 '202.jpg',
 '92.jpg',
 '11.jpg',
 '67.jpg',
 '138.jpg',
 '506.jpg',
 '146.jpg',
 '318.jpg',
 '198.jpg',
 '375.jpg',
 '41.jpg',
 '421.jpg',
 '129.jpg',
 '14.jpg',
 '460.jpg',
 '34.jpg',
 '380.jpg',
 '238.jpg',
 '392.jpg',
 '80.jpg',
 '517.jpg',
 '13.jpg',
 '189.jpg',
 '390.jpg',
 '487.jpg',
 '438.jpg',
 '482.jpg',
 '206.jpg',
 '217.jpg',
 '285.jpg',
 '385.jpg',
 '495.jpg',
 '269.jpg',
 '429.jpg',
 '291.jpg',
 '461.jpg',
 '256.jpg',
 '48.jpg',
 '290.jpg',
 '437.jpg',
 '498.jpg',
 '173.jpg',
 '280.jpg',
 '119.jpg',
 '363.jpg',
 '97.jpg',
 '414.jpg',
 '386.jpg',
 '424.jpg',
 '157.jpg',
 '33.jpg',
 '354.jpg',
 '57.jpg',
 '108.jpg',
 '239.jpg',
 '441.jpg',
 '215.jpg',
 '373.jpg',
 '292.jpg',
 '110.jpg',
 '510.jpg',
 '275.jpg',
 '366.jpg',
 '226.jpg',
 '35.jpg',
 '458.jpg',
 '358.jpg']

In [39]:
data_test=[]

## Reading Image dat and coverting and saving it to data test list.

In [40]:
for img in image_names_test:
    da_img_test=cv2.imread('test/'+img,0)
    try:
        da_img_test=cv2.resize(da_img_test,(50,50))
        image=np.array(da_img_test).flatten()
        data_test.append([image])
    except Exception as e:
        pass

In [41]:
data_test[0]

[array([2, 2, 2, ..., 0, 0, 0], dtype=uint8)]

# Dumping Prepared Data

In [44]:
pick_in=open('data_test','wb')
pickle.dump(data_test,pick_in)
pick_in.close()